[build]
  command = "pip install -r requirements.txt"
  publish = "static"

[functions]
  directory = "functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200
  force = true
